@use '../custom' as c;
@use '../base/mixins' as m;

.header {
    background-color: c.$primero;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

    &_logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;

        &--imagen {
            width: 4.25rem;
            margin: 0.5rem;
        }

        &--titulo {
            color: white;
            font-weight: 600;
            margin: 1rem;
            margin-left: 0.5rem;
        }
    }

    &_navegacion {
        display: none;
        width: 60%;
        height: 6rem;

        &--enlaces {
            display: flex;
            flex-direction: row;
            justify-content: center;


            .navegacion_enlace {
                list-style: none;
                padding: 0.5rem;
                margin: 1rem;

                a {
                    color: white;
                    font-size: 18px;
                }

                #seleccionado {
                    font-weight: 600;
                    color: c.$tercero;
                }

                a:hover {
                    color: white;
                }
            }
        }
    }

    &_usuario {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        &--nombre {
            color: white;
            font-weight: 600;
            margin: 1rem;
        }

        &--icono {
            width: 4.25rem;
        }
    }

    @include m.tablet() {
        justify-content: space-around;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        &_logo {
            margin-left: 0rem;
        }

        &_navegacion {
            display: block;
        }

        &_usuario {
            margin-right: 0rem;
        }
    }
}