@use '../custom' as c;
@use '../base/mixins' as m;

.inicio {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;

    &_contenido {
        // border: 2px solid darkmagenta;
        width: 80%;
        margin: 1.5rem;

        &--fecha {
            // border: 2px solid blue;
            font-size: 28px;
            color: c.$segundo;
            margin-bottom: 1rem;
        }

        &--principal {
            // border: 2px solid darkorange;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;


            .inSigClase {
                // border: 2px solid green;
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    font-size: 28px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_contenido {
                    // border: 2px solid red;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    margin: 2rem;

                    &--imagen {
                        // border: 2px solid blue;
                        width: 60%;
                    }

                    &--informacion {
                        // border: 2px solid orangered;

                        .informacion_asignatura--titulo {
                            // border: 2px solid yellow;
                            font-size: 32px;
                            color: c.$primero;
                            font-weight: 600;
                        }

                        .informacion_asignatura--contenido {
                            // border: 2px solid blueviolet;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            i {
                                // border: 2px solid red;
                                width: 10%;
                            }

                            span {
                                // border: 2px solid green;
                                margin-left: 1rem;
                                font-weight: 600;
                                color: c.$segundo;
                                font-size: 24px;
                            }
                        }
                    }
                }

            }

            .proxClases {
                // border: 2px solid yellow;
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    // border: 2px solid red;
                    font-size: 28px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_imagen {
                    // border: 2px solid blue;
                    width: 55%;
                    margin: 0 auto;

                    img {
                        // border: 2px solid green;
                        rotate: -20deg;
                        opacity: 85%;
                        position: relative;
                        left: 6rem;
                        top: 3rem;
                    }
                    
                    a {
                        position: relative;
                        bottom: 6rem;
                        display: flex;
                        justify-content: center;
                        width: 70%;
                        margin: 0 auto;
                    }
                }

            }

            .reservarClases {
                // border: 2px solid red;
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    // border: 2px solid yellow;
                    font-size: 28px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_imagen {
                    // border: 2px solid blue;
                    width: 60%;
                    margin: 0 auto;

                    img {
                        // border: 2px solid green;
                        position: relative;
                        right: 6rem;
                        opacity: 85%;
                    }

                    a {
                        position: relative;
                        bottom: 8rem;
                        display: flex;
                        justify-content: center;
                        width: 70%;
                        margin: 0 auto;
                    }
                }

                &_informacion {
                    // border: 2px solid orange;
                    text-align: center;
                    font-weight: bold;
                    color: c.$primero;
                    font-size: 20px;
                    position: relative;
                    bottom: 4rem;
                }
            }

            .calendario {
                background-color: c.$claro;
                border-radius: 6px;
                
                #calendarioInicio {
                    margin: 1.5rem auto;
                    width: 70%;

                    h2 {
                        color: c.$primero;
                    }

                    .fc-toolbar-chunk {


                        button {
                            background-color: c.$primero;
                            color: white;
                            border: none;
                        }
                    }

                    .fc-col-header {
                        // border: 2px solid red;
                        background-color: c.$primero;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                    }

                    .fc-col-header-cell-cushion {
                        color: white;
                    }

                    .fc-daygrid-day-top {

                        a {
                            color: c.$primero;
                        }
                    }
                }
            }
        }
    }

    &_sidebar {
        // border: 2px solid red;
        width: 20%;
        background-color: c.$primero;
        color: white;
        border-radius: 6px;
        margin: 1.5rem;
        text-align: center;
    }
}