@use '../custom' as c;
@use '../base/mixins' as m;

.inicio {
    display: flex;
    flex-direction: column;

    &_contenido {
        width: 100%;
        margin: 1.5rem 0rem;

        &--fecha {
            font-size: 28px;
            color: c.$segundo;
            margin-bottom: 1rem;
        }

        &--principal {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1.5rem;


            .inSigClase {
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    font-size: 24px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_contenido {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    margin: 2rem;

                    &--imagen {
                        width: 60%;
                    }

                    &--informacion {

                        .informacion_asignatura--titulo {
                            font-size: 28px;
                            color: c.$primero;
                            font-weight: 600;
                        }

                        .informacion_asignatura--contenido {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            i {
                                width: 10%;
                            }

                            span {
                                margin-left: 1rem;
                                font-weight: 600;
                                color: c.$segundo;
                                font-size: 20px;
                            }
                        }
                    }
                }

            }

            .proxClases {
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    font-size: 28px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_imagen {
                    width: 55%;
                    margin: 0 auto;

                    img {
                        rotate: -20deg;
                        opacity: 85%;
                        position: relative;
                        left: 6rem;
                        top: 3rem;
                    }

                    a {
                        position: relative;
                        bottom: 6rem;
                        display: flex;
                        justify-content: center;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

            }

            .reservarClases {
                background-color: c.$claro;
                border-radius: 6px;

                &_titulo {
                    font-size: 28px;
                    font-weight: 600;
                    color: c.$primero;
                    margin: 1.5rem;
                }

                &_imagen {
                    width: 60%;
                    margin: 0 auto;

                    img {
                        position: relative;
                        right: 6rem;
                        opacity: 85%;
                    }

                    a {
                        position: relative;
                        bottom: 8rem;
                        display: flex;
                        justify-content: center;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                &_informacion {
                    text-align: center;
                    font-weight: bold;
                    color: c.$primero;
                    font-size: 20px;
                    position: relative;
                    bottom: 4rem;
                }
            }

            .calendario {
                background-color: c.$claro;
                border-radius: 6px;

                #calendarioInicio {
                    margin: 1.5rem auto;
                    width: 90%;

                    h2 {
                        color: c.$primero;
                    }

                    .fc-toolbar-chunk {


                        button {
                            background-color: c.$primero;
                            color: white;
                            border: none;
                        }
                    }

                    .fc-col-header {
                        background-color: c.$primero;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                    }

                    .fc-col-header-cell-cushion {
                        color: white;
                    }

                    .fc-daygrid-day-top {

                        a {
                            color: c.$primero;
                        }
                    }
                }
            }
        }
    }

    &_sidebar {
        width: 20%;
        background-color: c.$primero;
        color: white;
        border-radius: 6px;
        margin: 1.5rem;
        text-align: center;
    }

    @include m.tablet {
        flex-direction: row;

        &_contenido {
            width: 70%;
            margin: 1.5rem;

            &--principal {

                .inSigClase {

                    &_titulo {
                        font-size: 28px;
                    }

                    &_contenido {

                        &--informacion {

                            .informacion_asignatura--titulo {
                                font-size: 32px;
                            }

                            .informacion_asignatura--contenido {

                                span {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                }

                .proxClases {

                    &_imagen {

                        a {
                            width: 70%;
                        }
                    }

                }

                .reservarClases {

                    &_imagen {

                        a {
                            width: 70%;
                        }
                    }
                }

            }
        }

        &_sidebar {
            width: 30%;
        }
    }

    @include m.desktop {
        flex-direction: row;

        &_contenido {
            width: 80%;

            &--principal {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &_sidebar {
            width: 20%;
        }
    }
}