@use '../custom' as c;
@use '../base/mixins' as m;

.login {
    height: 100vh;
    background-color: c.$primero;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &_contenido {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        align-self: center;
        width: 100%;
        margin: 1rem;

        &--titulo {
            color: white;
            font-weight: 600;
        }

        &--registrarse {
            color: white;
            font-size: 14px;
            font-weight: 600;

            a {
                color: white;
            }
        }

        &--formLogin {

            .formLogin_datos {
                padding: 0.8rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
                color: black;
                font-size: 14px;
                border-radius: 8px;
            }

            .formLogin_recuerdameDatos {
                width: 1.4rem;
                height: 1.4rem;
                border-radius: 2px;
            }

            .formLogin_recuerdameLabel {
                margin-bottom: 2rem;
                color: white;
                font-size: 16px;
            }
        }
    }

    &_imagen {
        height: 100vh;

        &--svg {
            display: none;
        }
    }

    @include m.tablet {
        margin: 0rem;

        &_contenido {
            width: 40%;
        }

        &_imagen {
            display: flex;
            align-items: end;

            &--svg {
                display: block;
                height: 80%;
            }
        }
    }

    @include m.desktop {

        &_contenido {
            width: 30%;

        }
    }
}