@use '../custom' as c;
@use '../base/mixins' as m;

.registro {
    height: auto;
    background-color: c.$primero;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;

    &_contenido {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
        align-self: center;
        width: 100%;
        margin: 1rem;

        &--titulo {
            color: white;
            font-weight: 600;
        }

        &--logearse {
            color: white;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0.2rem;

            a {
                color: white;
            }
        }

        &--formRegistro {

            .formRegistro_datos {
                padding: 0.8rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: black;
                font-size: 14px;
                border-radius: 8px;
            }

            .formRegistro_perfiles {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &--input {
                    -webkit-appearance: none;
                    display: none;
                }

                &--label {
                    height: 60px;
                    width: 48%;
                    background-color: white;
                    border-radius: 10px;
                    position: relative;
                    transition: 0.5s;


                    .formRegistro_perfiles--icono {
                        position: absolute;
                        top: 70%;
                        left: 50%;
                        transform: translate(-50%, -80%);
                    }

                    .formRegistro_perfiles--iconoImagen {
                        width: 4rem;
                    }
                }

            }

            .formRegistro_perfiles--input:checked+.formRegistro_perfiles--label {
                background-color: c.$tercero;
            }

            .formRegistro_recuerdameDatos {
                width: 1.4rem;
                height: 1.4rem;
                border-radius: 2px;
                margin-top: 1rem;
            }

            .formRegistro_recuerdameLabel {
                margin-bottom: 1rem;
                color: white;
                font-size: 16px;
                margin-top: 0.6rem;
            }
        }
    }

    &_imagen {
        height: 100vh;

        &--svg {
            display: none;
        }
    }

    @include m.tablet {
        height: 100vh;
        margin: 0rem;
        padding: 0rem;

        &_contenido {
            width: 40%;

            &--formRegistro {

                .formRegistro_perfiles {
                    gap: 1rem;
                }
            }
        }


        &_imagen {
            display: flex;
            align-items: flex-end;

            &--svg {
                display: block;
                height: 80%;
            }
        }
    }

    @include m.desktop {
        &_contenido {

            width: 30%;
        }
    }
}