@use '../custom' as c;
@use '../base/mixins' as m;

.tablasADM {
    padding: 0rem;

    &_contenido {
        margin: 1.5rem 0rem;

        .table {
            text-align: center;

            thead {

                tr {

                    th {
                        background-color: c.$primero;
                        color: white;
                        font-size: 16px;
                    }
                }
            }

            tbody {
                tr {                   
                    th,
                    td {
                        color: c.$primero;
                        font-weight: 600;
                        font-size: 16px;
                    }

                    .tablaBotones {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2rem;

                        .boton-secundario {
                            width: 8rem;
                        }
                    }
                }
            }
        }

    }

    @include m.tablet() {
        padding: 1.5rem;

        &_contenido {

            .table {
                thead {

                    tr {
    
                        th {
                            font-size: 18px; 
                        }
                    }
                }

                tbody {
                    tr {

                        th,
                        td {
                            font-size: 18px;
                        }

                        .tablaBotones {
                            flex-direction: row;

                            .boton-secundario {
                                width: 12rem;
                            }
                        }
                    }
                }
            }

        }
    }
}