<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="icon" th:href="@{/build/img/Iconos/favicon.ico}" sizes="any">
  <title>Asignaturas - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="informacionADM">
    <section class="informacionADM_contenidoPrincipal">
      <h1 class="informacionADM_contenidoPrincipal--titulo">Administrar Asignaturas</h1>

      <section class="informacionADM_contenidoPrincipal--btns">
        <a th:href="@{/panel-admin/asignaturas/crear}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Crear_Morado.png}" alt=""></i>Asignaturas</a>
        <a th:href="@{/panel-admin}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Volver_morado.png}" alt=""></i>Volver</a>
      </section>
    </section>

    <section class="informacionADM_contenidoSecundario">

      <div th:each="asignatura : ${asignaturas}" class="informacionADM_contenidoSecundario--datos">
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_Hastag_Morado.png}" alt=""></i>
          <p th:text="${asignatura.id}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_Asignatura_Morado.png}" alt=""></i>
          <p th:text="${asignatura.nombre}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos" th:each="profesor : ${asignatura.profesores}">
          <i><img th:src="@{/build/img/Iconos/Icono_Profesor_Morado.png}" alt=""></i>
          <p th:text="${profesor.nomCompleto}"></p>
        </div>
        <hr>
        <div class="informacionADM_botones">
          <a class="boton-administrador" th:href="@{/panel-admin/asignaturas/editar/}+${asignatura.id}"><i><img
                th:src="@{/build/img/Iconos/Icono_Editar_Morado.png}" alt=""></i></a>
                <form th:action="@{/panel-admin/confirmar-eliminar}" method="post">
                  <input class="boton-administrador" type="hidden" name="ruta"
                    th:value="@{/panel-admin/asignaturas/eliminar/}+${asignatura.id}" id="">
                  <input type="hidden" name="r" value="" id="">
                  <input type="hidden" name="mensaje"
                    th:value="'¿Desea eliminar la asignatura: ' + ${asignatura.nombre} + ' y con ella, todos los profesores y reservas relacionadas?'">
                  <button class="btn" type="submit" name="" id=""><i><img
                        th:src="@{/build/img/Iconos/Icono_Eliminar_Morado.png}" alt=""></i>
                  </button>
                </form>
        </div>
      </div>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>

</html>