<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" th:href="@{/build/img/Iconos/favicon.ico}" sizes="any">
  <title>Calendario - DateUnRepaso</title>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar/locales/es.js'></script>
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">

</head>

<body>
  <div th:insert="fragmentos/header :: headerFragment"></div>
	<div th:insert="fragmentos/headerMovil :: headerMovilFragment"></div>

  <main>
    <span id="idUsuario" th:text="${usuario.id}" style="display: none;"></span>
    <span id="rolUsuario" th:text="${usuario.rol}" style="display: none;"></span>
    <div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
      <label th:text="${Error}"></label>
    </div>

    <section class="calendario">

      <div id="calendar"></div>


      <div id="eventModal" class="calendario_evento">
        <div id="eventModalContent" class="calendario_evento--contenido">
          <span class="close">&times;</span>
          <h2 id="modalTitle"></h2>
          <p id="modalBody"></p>
        </div>
      </div>
    </section>
  </main>

  <script th:src="@{/js/calendario.js}"></script>

</html>