<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>Clases - DateUnRepaso</title>
</head>

<body>
	<header class="header">
		<div class="header_logo">
			<figure class="header_logo--imagen">
				<img th:src="@{/build/img/Logo/Icono_DU_blanco.png}" class="img-fluid">
			</figure>
			<p class="header_logo--titulo">DateUnRepaso</p>
		</div>

		<nav class="header_navegacion">
			<ul class="header_navegacion--enlaces">
				<li class="navegacion_enlace"><a th:href="@{/app}">Inicio</a></li>
				<li class="navegacion_enlace"><a th:href="@{/clases}" id="seleccionado">Clases</a></li>
				<li class="navegacion_enlace"><a th:href="@{/calendario}">Calendario</a></li>
				<li class="navegacion_enlace"><a>Contacto</a></li>
			</ul>
		</nav>

		<div class="header_usuario">
			<!-- <span class="header_usuario--nombre" th:text="${usuario.nomUsuario}"></span> -->
			<i class="header_usuario--icono"><img th:src="@{/build/img/Iconos/Icono_Usuario_Header.png}"
					class="img-fluid"></i>
		</div>
	</header>

	<header class="headerSecundario">
		<nav class="headerSecundario_navegacion">
			<ul class="headerSecundario_navegacion--enlaces">
				<li class="navegacion_enlace"><a th:href="@{/app}">Inicio</a></li>
				<li class="navegacion_enlace"><a th:href="@{/clases}" id="seleccionado">Clases</a></li>
				<li class="navegacion_enlace"><a th:href="@{/calendario}">Calendario</a></li>
				<li class="navegacion_enlace"><a>Contacto</a></li>
			</ul>
		</nav>

		<div class="headerSecundario_boton">
			<a class="btnCerrarSesion" href="">Cerrar sesión</a>
		</div>
	</header>


	<main class="clases">
		<section class="clases_contenido">
			<h1 class="clases_contenido--titulo">Mis clases</h1>
			<div th:each="reserva : ${Reservas}" class="clases_contenido--reservas">
				<h2 th:text="${reserva.aula.nombre}"></h2>
				<p th:text="${reserva.fechaReserva}"></p>
				<p><span th:text="${reserva.horaInicio}"></span>:00 - <span th:text="${reserva.horaFin}"></span>:00</p>
				<div>
					<a th:href="@{/clases/preguntarBorrar/{id}(id=${reserva.id})}">Borrar</a>
				</div>
			</div>

		</section>
		<section class="sidebar">
			<div class="sidebar_boton">
				<a class="btnCerrarSesion" href="">Cerrar sesión</a>
			</div>

			<div class="sidebar_tiempo">
				MOSTRAR LO DEL TIEMPO
			</div>
		</section>
	</main>
</body>

</html>