<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Crear alumno - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="inicio">
    <section class="inicio_contenido">
      <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
        <label th:text="${Error}"></label>
      </div>
      <form class="registro_contenido--formRegistro" method="post" th:action="@{/panel-admin/alumnos/crear}">
        <input class="formRegistro_datos form-control" type="text" name="nombreReg" placeholder="Nombre y apellidos"
          required>
        <div class="invalid-feedback">Campo requerido</div>
        <input class="formRegistro_datos form-control" type="text" name="dniReg" placeholder="DNI" required>
        <div class="invalid-feedback">Campo requerido</div>
        <input class="formRegistro_datos form-control" type="date" name="fechaNacReg" id="fechaNacReg"
          placeholder="Fecha de nacimiento" required>
        <div class="invalid-feedback">Campo requerido</div>
        <input class="formRegistro_datos form-control" type="text" name="correoReg" placeholder="Correo electrónico"
          required>
        <div class="invalid-feedback">Campo requerido</div>
        <input class="formRegistro_datos form-control" type="password" name="contrasenaReg" placeholder="Contraseña"
          required>
        <div class="invalid-feedback">Campo requerido</div>
        <input class="formRegistro_datos form-control" type="password" name="contrasenaRepReg"
          placeholder="Repetir contraseña" required>
        <div class="invalid-feedback">Campo requerido</div>
        <button class="boton-secundario">Crear</button>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>

</html>