<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Crear alumno - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="crearADM">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
      <label th:text="${Error}"></label>
    </div>

    <section class="crearADM_contenidoPrincipal">
      <h1 class="crearADM_contenidoPrincipal--titulo">Crear Alumno</h1>

      <section class="crearADM_contenidoPrincipal--btns">
        <a th:href="@{/panel-admin/alumnos}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Volver_morado.png}" alt=""></i>Volver</a>
      </section>
    </section>

    <section class="crearADM_contenidoSecundario">
      <form class="crearADM_contenidoSecundario--formulario" method="post" th:action="@{/panel-admin/alumnos/crear}">
        <label for="nombreC">Nombre Completo: </label>
        <input class="formCrearADM_datos form-control" type="text" name="nombreReg" id="nombreC" placeholder="Nombre y apellidos"
          required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="dni">DNI: </label>
        <input class="formCrearADM_datos form-control" type="text" name="dniReg" id="dni" placeholder="DNI" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="fechaNac">Fecha de nacimiento: </label>
        <input class="formCrearADM_datos form-control" type="date" name="fechaNacReg" id="fechaNac"
          placeholder="Fecha de nacimiento" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="correo">Correo: </label>
        <input class="formCrearADM_datos form-control" type="text" name="correoReg" id="correo" placeholder="Correo electrónico"
          required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="contrasena">Contraseña: </label>
        <input class="formCrearADM_datos form-control" type="password" name="contrasenaReg" id="contrasena" placeholder="Contraseña"
          required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="contrasenaRepetida">Contraseña repetida: </label>
        <input class="formCrearADM_datos form-control" type="password" name="contrasenaRepReg" id="contrasenaRepetida"
          placeholder="Repetir contraseña" required>
        <div class="invalid-feedback">Campo requerido</div>

        <button class="boton-inicio">Guardar</button>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>

</html>