<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
  <link rel="icon" th:href="@{/build/img/Iconos/favicon.ico}" sizes="any">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Crear profesor - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="crearADM">

    <section class="crearADM_contenidoPrincipal">
      <h1 class="crearADM_contenidoPrincipal--titulo">Crear Profesor</h1>

      <section class="crearADM_contenidoPrincipal--btns">
        <a th:href="@{/panel-admin/profesores}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Volver_morado.png}" alt=""></i>Volver</a>
      </section>
    </section>

    <section class="crearADM_contenidoSecundario">
      <form class="crearADM_contenidoSecundario--formulario needs-validation" novalidate method="post"
        th:action="@{/panel-admin/profesores/crear}">

        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
          <label th:text="${Error}"></label>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <label for="nombreC">Nombre Completo: </label>
        <input class="formCrearADM_datos form-control" type="text" minlength="5" name="nombreReg" id="nombreC"
          placeholder="Nombre y apellidos" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="nombreUser">Nombre de usuario: </label>
        <input class="formCrearADM_datos form-control" type="text" name="nomUsuario" id="nombreUser" minlength="5"
          maxlength="20" placeholder="Nombre de usuario" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="dni">DNI: </label>
        <input class="formCrearADM_datos form-control" type="text" name="dniReg" id="dni" placeholder="DNI"
          pattern="[0-9]{8}[A-Za-z]{1}" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="fechaNac">Fecha de nacimiento: </label>
        <input class="formCrearADM_datos form-control" type="date" name="fechaNacReg" id="fechaNac"
          placeholder="Fecha de nacimiento" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="correo">Correo: </label>
        <input class="formCrearADM_datos form-control" type="email" name="correoReg" id="correo"
          placeholder="Correo electrónico" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="contrasena">Contraseña: </label>
        <input class="formCrearADM_datos form-control" type="password" name="contrasenaReg" id="contrasena"
          placeholder="Contraseña" minlength="8" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="contrasenaRepetida">Contraseña repetida: </label>
        <input class="formCrearADM_datos form-control" type="password" name="contrasenaRepReg" id="contrasenaRepetida"
          placeholder="Repetir contraseña" minlength="8" required>
        <div class="invalid-feedback" style="color: #643e7b;">Campo requerido</div>

        <label for="asignatura">Asignatura: </label>
        <select class="formCrearADM_datos form-control" name="asignaturaProf" id="asignatura" required>
          <option value="-1">Seleccione una asignatura</option>
          <option th:each="asig : ${listaAsignaturas}" th:value="${asig.id}"><span th:text="${asig.nombre}"></span>
          </option>
        </select>

        <button class="boton-inicio">Guardar</button>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
<script th:src="@{/js/validacion.js}"></script>

</html>