<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
  <link rel="icon" th:href="@{/build/img/Iconos/favicon.ico}" sizes="any">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Editar profesor - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="editarADM">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
      <label th:text="${Error}"></label>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <section class="editarADM_contenidoPrincipal">
      <h1 class="editarADM_contenidoPrincipal--titulo">Editar Profesor</h1>

      <section class="editarADM_contenidoPrincipal--btns">
        <a th:href="@{/panel-admin/profesores}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Volver_morado.png}" alt=""></i>Volver</a>
      </section>
    </section>
    <section cclass="editarADM_contenidoSecundario">
      <form class="editarADM_contenidoSecundario--formulario" method="post"
        th:action="@{/panel-admin/profesores/editar}">
        <input class="formEditarADM_datos form-control" th:value="${profesor.id}" type="hidden" name="id">

        <label for="nombreC">Nombre Completo: </label>
        <input class="formEditarADM_datos form-control" th:value="${profesor.nomCompleto}" type="text" name="nombreReg"
          placeholder="Nombre y apellidos" id="nombreC" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="nombreUser">Nombre de usuario: </label>
        <input class="formEditarADM_datos form-control" th:value="${profesor.nomUsuario}" type="text" name="nomUsuario"
          placeholder="Nombre de usuario" id="nombreUser" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="dni">DNI: </label>
        <input class="formEditarADM_datos form-control" th:value="${profesor.dni}" type="text" name="dniReg"
          placeholder="DNI" id="dni" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="fechaNac">Fecha de nacimiento: </label>
        <input class="formEditarADM_datos form-control" th:value="${profesor.fechaNac}" type="date" name="fechaNacReg"
          id="fechaNac" placeholder="Fecha de nacimiento" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="correo">Correo: </label>
        <input class="formEditarADM_datos form-control" th:value="${profesor.correo}" type="text" name="correoReg"
          placeholder="Correo electrónico" id="correo" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="contrasena">Contraseña: </label>
        <input class="formEditarADM_datos form-control" type="password"
          name="contrasenaReg" placeholder="Contraseña" id="contrasena" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="contrasenaRepetida">Contraseña repetida: </label>
        <input class="formEditarADM_datos form-control" type="password"
          name="contrasenaRepReg" placeholder="Repetir contraseña" id="contrasenaRepetida" required>
        <div class="invalid-feedback">Campo requerido</div>

        <label for="asignatura">Asignatura: </label>
        <select class="formEditarADM_datos form-control" name="asignaturaProf" id="asignatura" required>
          <option th:each="asig : ${asignaturas}" th:value="${asig.id}"
            th:selected="${asig.id} == ${profesor.asignatura.id}"><span th:text="${asig.nombre}"></span>
          </option>
        </select>
        <div class="invalid-feedback">Campo requerido</div>

        <button class="boton-inicio">Guardar</button>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>

</html>