<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="icon" th:href="@{/build/img/Iconos/favicon.ico}" sizes="any">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>Eliminar reserva - DateUnRepaso</title>
</head>

<body>
	<span id="idUsuario" th:text="${usuario.id}" style="display: none;"></span>
	<span id="rolUsuario" th:text="${usuario.rol}" style="display: none;"></span>

	<div th:insert="fragmentos/header :: headerFragment"></div>
	<div th:insert="fragmentos/headerMovil :: headerMovilFragment"></div>

	<main class="eliminarClase">
		<section class="eliminarClase_contenido">

			<form th:action="@{/clases/delete/{id}(id=${idReserva})}" method="get"
				class="eliminarClase_contenido--formulario">
				<p class="formEliminar_titulo">¿DESEAS CANCELAR LA RESERVA?</p>
				<div class="formEliminar_contenido">
					<input type="submit" value="SÍ" name="btnBorrar">
					<input type="submit" value="NO" name="btnBorrar">
				</div>
			</form>

		</section>
		<div class="sidebar" th:insert="fragmentos/sidebar :: sidebarFragment"></div>
	</main>
</body>

</html>