<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>Inicio - DateUnRepaso</title>
</head>

<body>
	<header style="background-color: lightblue;">
		<div>
			<figure>
				<img th:src="@{/build/img/Logo/Icono_DU_blanco.png}">
			</figure>
			<p>DateUnRepaso</p>
		</div>

		<nav>
			<ul>
				<li><a>Inicio</a></li>
				<li><a th:href="@{/clases}">Clases</a></li>
				<li><a th:href="@{/calendario}">Calendario</a></li>
				<li><a>Contacto</a></li>
			</ul>
		</nav>

		<div>
			<span></span> <i><img th:src="@{/build/img/Iconos/Icono_Usuario_Header.png}"></i>
		</div>
	</header>

	<main>
		<section>
			<h2 th:text="${fechaActual}"></h2>

			<div>
				<section>
					<p>Siguiente clase...</p>
					<div>
						<figure>
							<img>
						</figure>
						<div>
							<h3>ASIGNATURA</h3>
							<p>
								<i></i>Nombre Profesor/a
							</p>
							<p>
								<i></i>Hora
							</p>
							<p>
								<i></i>Aula
							</p>
						</div>
					</div>
				</section>

				<section>
					<p>¿Quieres ver tus próximas clases?</p>
					<figure>
						<img>
					</figure>
					<a>Ver más</a>
				</section>

				<section>
					<p>¿Aún no tienes una RESERVA?</p>
					<figure>
						<img>
					</figure>
					<a th:href="@{/reserva-profesor}" th:if="${tipoUsuario == 'profesor'}">Reservar</a>
					<a th:href="@{/reserva-alumno}" th:if="${tipoUsuario == 'alumno'}">Reservar</a>
					<p>Pulsa en el siguiente botón para reservar</p>
				</section>

				<section>CALENDARIO</section>
			</div>
		</section>

		<!-- 		<section> -->
		<!-- 			<div> -->
		<!-- 				<p>Chats</p> -->

		<!-- 				<div> -->
		<!-- 				MOSTRAR CHATS -->
		<!-- 				</div> -->

		<!-- 				<a>Ver más</a> -->
		<!-- 			</div> -->

		<!-- 			<div> -->
		<!-- 				MOSTRAR LO DEL TIEMPO -->
		<!-- 			</div> -->
		<!-- 		</section> -->
	</main>
</body>

</html>