<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{styles.css}">
<script src="https://cdn.tailwindcss.com"></script>
<!-- npx tailwindcss -i ./src/main/resources/static/input.css -o ./src/main/resources/static/styles.css -->
<title>Landing Page</title>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primero: '#643e7b',
            segundo: '#a594f9',
            tercero: '#cdc1ff',
            cuarto: '#f5efff'
          }
        }
      }
    }
  </script>
</head>
<body>

	<section>
		<div>
			<h1 class="text-5xl font-bold text-primero">DateUnRepaso</h1>
			<h1 class="text-5xl text-primero">El camino más rápido hacia el dominio.</h1>
			<a class="" th:href="@{/login}">EMPEZAR</a>
		</div>
		<div>
			<div>
				<p>
					<i></i>Progreso y organización
				</p>
				<p>
					<i></i>Gestión eficiente de horario
				</p>
			</div>
			<div>
				<p>
					<i></i>Accesibilidad y comodidad
				</p>
				<p>
					<i></i>Personalizacón y adaptabilidad
				</p>
			</div>
		</div>
	</section>
</body>
</html>