<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{styles.css}">
	<!-- npxs -->
	<title>Landing Page</title>
</head>

<body>

	<section>
		<div>
			<h1 class="text-5xl font-bold text-eminence">DateUnRepaso</h1>
			<h1 class="text-5xl text-eminence">El camino más rápido hacia el dominio.</h1>
			<a class="" th:href="@{/login}">EMPEZAR</a>
		</div>
		<div>
			<div>
				<p>
					<i></i>Progreso y organización
				</p>
				<p>
					<i></i>Gestión eficiente de horario
				</p>
			</div>
			<div>
				<p>
					<i></i>Accesibilidad y comodidad
				</p>
				<p>
					<i></i>Personalizacón y adaptabilidad
				</p>
			</div>
		</div>
	</section>
</body>

</html>