<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="icon" th:href="@{/build/img/Logo/Icono_DU_blanco.png}" sizes="any">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Profesores - DateUnRepaso</title>
</head>

<body>
  <div th:insert="fragmentos/headerAdmin :: headerFragment"></div>
  <div th:insert="fragmentos/headerAdminMovil :: headerMovilFragment"></div>

  <main class="informacionADM">
    <section class="informacionADM_contenidoPrincipal">
      <h1 class="informacionADM_contenidoPrincipal--titulo">Administrar Profesores</h1>

      <section class="informacionADM_contenidoPrincipal--btns">
        <a th:href="@{/panel-admin/profesores/crear}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Crear_Morado.png}" alt=""></i>Profesores</a>
        <a th:href="@{/panel-admin}" class="boton-secundario"><i><img
              th:src="@{/build/img/Iconos/Icono_Volver_morado.png}" alt=""></i>Volver</a>
      </section>
    </section>


    <section class="informacionADM_contenidoSecundario">
      <div th:each="profesor : ${profesores}" class="informacionADM_contenidoSecundario--datos">
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_Hastag_Morado.png}" alt=""></i>
          <p th:text="${profesor.id}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_NombreComp_Morado.png}" alt=""></i>
          <p th:text="${profesor.nomUsuario}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_NombreComp_Morado.png}" alt=""></i>
          <p th:text="${profesor.nomCompleto}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_Asignatura_Morado.png}" alt=""></i>
          <p th:text="${profesor.asignatura.nombre}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_DNI_Morado.png}" alt=""></i>
          <p th:text="${profesor.dni}"></p>
        </div>
        <hr>
        <div class="informacionADM_datos">
          <i><img th:src="@{/build/img/Iconos/Icono_FechaNac_Morado.png}" alt=""></i>
          <p th:text="${profesor.fechaNac}"></p>
        </div>
        <hr>
        <div class="informacionADM_botones">
          <a class="boton-administrador" th:href="@{/panel-admin/profesores/editar/}+${profesor.id}"><i><img
                th:src="@{/build/img/Iconos/Icono_Editar_Morado.png}" alt=""></i></a>
          <form th:action="@{/panel-admin/confirmar-eliminar}" method="post">
            <input class="boton-administrador" type="hidden" name="ruta"
              th:value="@{/panel-admin/profesores/eliminar/}+${profesor.id}" id="">
            <input type="hidden" name="r" value="" id="">
            <input type="hidden" name="mensaje"
              th:value="'¿Desea eliminar el profesor: ' + ${profesor.nomCompleto} + ', y con el, todas sus reservas relacionadas?'">
            <button class="btn" type="submit" name="" id=""><i><img
                  th:src="@{/build/img/Iconos/Icono_Eliminar_Morado.png}" alt=""></i>
            </button>
          </form>
        </div>
      </div>
    </section>
  </main>
</body>

<script th:src="@{/js/calendarioInicio.js}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>

</html>