<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="icon" th:href="@{build/img/Logo/Icono_DU_blanco.png}" sizes="any">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>Registrarse</title>
</head>

<body>
	<section class="registro">
		<div class="registro_contenido">
			<h1 class="registro_contenido--titulo">Registro</h1>
			<p class="registro_contenido--logearse">
				¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión aquí.</a>
			</p>

			<form class="registro_contenido--formRegistro" method="post" th:action="@{/registro}">
				<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
					<label th:text="${Error}"></label>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<input class="formRegistro_datos form-control" type="text" name="nomCompleto"
					placeholder="Nombre y apellidos" minlength="5" required>

				<input class="formRegistro_datos form-control" type="text" name="nomUsuario"
					placeholder="Nombre de usuario" minlength="5" maxlength="20" required>

				<input class="formRegistro_datos form-control" type="text" name="dni" placeholder="DNI"
					pattern="[0-9]{8}[A-Za-z]{1}" required>

				<input class="formRegistro_datos form-control" type="text" onfocus="(this.type='date')"
					onblur="(this.type='text')" name="fechaNac" id="fechaNacReg" placeholder="Fecha de nacimiento"
					required>

				<input class="formRegistro_datos form-control" type="email" name="correo"
					placeholder="Correo electrónico" required>

				<input class="formRegistro_datos form-control" type="password" name="contrasena"
					placeholder="Contraseña" minlength="8" required>

				<input class="formRegistro_datos form-control" type="password" name="contrasenaRep"
					placeholder="Repetir contraseña" minlength="8" required>

				<select class="formRegistro_datos form-control" name="asignaturaProf" id="asignaturaProf" required>
					<option value="-1">Seleccione una asignatura</option>
					<option th:each="asig : ${listaAsignaturas}" th:value="${asig.id}" th:text="${asig.nombre}">
					</option>
				</select>
				<select class="formRegistro_datos form-control" name="asignaturaAlumno" id="asignaturaAlumno" required
					hidden>
					<option value="-1">No puedes seleccionar una asignatura</option>
				</select>

				<div class="formRegistro_perfiles">
					<input type="radio" id="radioAlumno" class="formRegistro_perfiles--input" name="perfil"
						value="esAlumno" checked="checked">
					<label for="radioAlumno" class="formRegistro_perfiles--label">
						<i class="formRegistro_perfiles--icono" aria-hidden="true">
							<img class="formRegistro_perfiles--iconoImagen"
								th:src="@{build/img/Iconos/Icono_Alumno_Registro.png}" alt="">
						</i>
						<span class="formRegistro_perfiles--texto">Alumno</span>
					</label>

					<input type="radio" id="radioProf" class="formRegistro_perfiles--input" name="perfil"
						value="esProfesor">
					<label for="radioProf" class="formRegistro_perfiles--label">
						<i class="formRegistro_perfiles--icono" aria-hidden="true">
							<img class="formRegistro_perfiles--iconoImagen"
								th:src="@{build/img/Iconos/Icono_Profesor_Registro.png}" alt="">
						</i>
						<span class="formRegistro_perfiles--texto">Profesor</span>
					</label>

				</div>

				<input class="boton-secundario formRegistro_boton mt-3" type="submit" name="botonReg" value="Registro">
			</form>

		</div>
		<figure class="registro_imagen">
			<img class="registro_imagen--svg" th:src="@{build/img/Login/Imagen_persona.svg}" alt="SVG de Registro">
		</figure>
	</section>

	<script th:src="@{/js/registro.js}"></script>
</body>

</html>