<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>Registrarse</title>
</head>

<body>
	<section class="registro">
		<div class="registro_contenido">
			<h1 class="registro_contenido--titulo">Registro</h1>
			<p class="registro_contenido--logearse">
				¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión aquí.</a>
			</p>

			<form class="registro_contenido--formRegistro" method="post" th:action="@{/registro}">
				<input class="formRegistro_datos form-control" type="text" name="nombreReg" placeholder="Nombre y apellidos"
					required>
				<input class="formRegistro_datos form-control" type="text" name="dniReg" placeholder="DNI" required>
				<input class="formRegistro_datos form-control" type="date" name="fechaNacReg" placeholder="Fecha de nacimiento"
					required>
				<input class="formRegistro_datos form-control" type="text" name="correoReg" placeholder="Correo electrónico"
					required>
				<input class="formRegistro_datos form-control" type="password" name="contrasenaReg" placeholder="Contraseña"
					required>
				<input class="formRegistro_datos form-control" type="password" name="contrasenaRepReg"
					placeholder="Repetir contraseña" required>
				<div class="formRegistro_perfiles">

					<input type="radio" id="radioProf" class="formRegistro_perfiles--input" name="perfilSel">
					<label for="radioProf" class="formRegistro_perfiles--label"><i class="formRegistro_perfiles--icono" aria-hidden="true"><img class="formRegistro_perfiles--iconoImagen" th:src="@{build/img/Iconos/Icono_Profesor_Registro.png}" alt=""></i></label>

					<input type="radio" id="radioAlumno" class="formRegistro_perfiles--input" name="perfilSel">
					<label for="radioAlumno" class="formRegistro_perfiles--label"><i class="formRegistro_perfiles--icono" aria-hidden="true"><img class="formRegistro_perfiles--iconoImagen" th:src="@{build/img/Iconos/Icono_Alumno_Registro.png}" alt=""></i></label>
				</div><br><br>

				<input class="formRegistro_recuerdameDatos form-check-input" id="recuerdame" type="checkbox" name="recordarRegistro">
				<label class="formRegistro_recuerdameLabel form-check-label" for="recuerdame">Recuerdame</label><br>

				<input class="boton-secundario formRegistro_boton" type="submit" name="botonReg" value="Registro">
			</form>
		</div>
		<figure class="registro_imagen">
			<img class="registro_imagen--svg" th:src="@{build/img/Login/Imagen_persona.svg}" alt="SVG de Registro">
		</figure>
	</section>
</body>

</html>