<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/build/css/styles.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<title>Reserva - DateUnRepaso</title>
</head>

<body>
	
	<main>
		<h1>Reserva</h1>
		
		<section>
				<form th:action="@{/reserva-profesor}" method="post">
					<select name="resProfAula">
						<option th:each="aula : ${listaAulas}" th:value="${aula.id}"><span th:text="${aula.nombre}"></span></option>
					</select>
					<input type="date" name="resProfFecha">
					<select name="resProfHoraI">
						<option>Hora inicio</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
					</select>
					<select name="resProfHoraF">
						<option>Hora fin</option>
						<option value="16">16:00</option>
						<option value="17">17:00</option>
						<option value="18">18:00</option>
						<option value="19">19:00</option>
						<option value="20">20:00</option>
						<option value="21">21:00</option>
					</select>
					<input type="submit" value="Reservar" name="resProfBoton">
				</form>	
		</section>
	</main>
	
</body>
</html>