<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/build/css/styles.css}">
	<link rel="icon" th:href="@{build/img/Logo/Icono_DU_blanco.png}" sizes="any">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>Reserva - DateUnRepaso</title>
</head>

<body>
	<div th:insert="fragmentos/header :: headerFragment"></div>
	<div th:insert="fragmentos/headerMovil :: headerMovilFragment"></div>

	<main class="reservaA">
		<h1 class="reservaA_titulo">Reserva</h1>
		<div class="clases_contenido--vacio" th:if="${listaReservasP.isEmpty()}">
			<h2>No hay reservas disponibles</h2>
		</div>
		<section class="reservaA_contenido">

			<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
				<label th:text="${Error}"></label>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<form th:action="@{/reserva-alumno}" method="post" th:each="reserva: ${listaReservasP}"
				class="reservaA_contenido--formulario">
				<input type="hidden" name="idReserva" th:value="${reserva.id}">
				<h2 th:text="${reserva.aula.nombre}" class="formReservaAlum_titulo"></h2>
				<div class="formReservaAlum_datos">
					<i><img th:src="@{build/img/Iconos/Icono_Profesor_Clases.png}" alt="Icono Profesor"></i>
					<p th:text="${reserva.profesor.nomCompleto}" class="reserva_nombreP"></p>
				</div>
				<div class="formReservaAlum_datos">
					<i><img th:src="@{build/img/Iconos/Icono_Asignatura_Clases.png}" alt=""></i>
					<p th:text="${reserva.profesor.asignatura.nombre}" class="reserva_asignatura"></p>
				</div>
				<div class="formReservaAlum_datos">
					<i><img th:src="@{build/img/Iconos/Icono_Calendario_ReservaP.png}" alt=""></i>
					<p th:text="${reserva.fechaReserva}" class="reserva_fecha"></p>
				</div>
				<div class="formReservaAlum_datos">
					<i><img th:src="@{build/img/Iconos/Icono_Hora_ReservaP.png}" alt=""></i>
					<p class="reserva_horas"><span th:text="${reserva.horaInicio} + ':00'"></span> - <span
							th:text="${reserva.horaFin} + ':00'"></span></p>
				</div>
				<input type="submit" value="Reservar" class="formReservaAlum_btnReservar">
			</form>
		</section>
	</main>

</body>

</html>