<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/build/css/styles.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<title>Reserva - DateUnRepaso</title>
</head>

<body>

	<main>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${Error != null}">
			<label th:text="${Error}"></label>
		</div>
		<h1>Reserva</h1>

		<section>
			<table class="text-center ">
				<tr>
					<th>Fecha</th>
					<th>Hora Inicio</th>
					<th>Hora Final</th>
					<th>Aula</th>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th></th>
				</tr>
				<form th:action="@{/reserva-alumno}" method="post" th:each="reserva: ${listaReservasP}">
					<tr>
						<input type="hidden" name="idReserva" th:value="${reserva.id}">
						<td th:text="${reserva.fechaReserva}"></td>
						<td><span th:text="${reserva.horaInicio}"></span><span>:00</span></td>
						<td><span th:text="${reserva.horaFin}"></span><span>:00</span></td>
						<td th:text="${reserva.aula.nombre}"></td>
						<td th:text="${reserva.profesor.asignatura.nombre}"></td>
						<td th:text="${reserva.profesor.nomCompleto}"></td>
						<td><input type="submit" value="Reservar"></td>
					</tr>
				</form>
			</table>
		</section>

	</main>

</body>

</html>