<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sidebar Fragment</title>
</head>

<body>
    <header class="headerSecundario" th:fragment="headerMovilFragment">
		<nav class="headerSecundario_navegacion">
			<ul class="headerSecundario_navegacion--enlaces">
				<li th:class="${paginaActiva == 'inicio' ? 'seleccionado' : 'navegacion_enlace'}">
                    <a th:href="@{/app}">Inicio</a>
                </li>
                <li th:class="${paginaActiva == 'clases' ? 'seleccionado' : 'navegacion_enlace'}">
                    <a th:href="@{/clases}">Clases</a>
                </li>
                <li
                    th:class="${paginaActiva == 'calendario' ? 'seleccionado' : 'navegacion_enlace'}">
                    <a th:href="@{/calendario}">Calendario</a>
                </li>
                <li th:class="${paginaActiva == 'contacto' ? 'seleccionado' : 'navegacion_enlace'}">
                    <a th:href="@{/contacto}">Contacto</a>
                </li>
			</ul>
		</nav>

		<div class="headerSecundario_boton">
			<a th:href="@{/cerrarSesion}" class="btnCerrarSesion">Cerrar sesión</a>
		</div>
	</header>
</body>

</html>